/* Prevent double-tap to zoom */
html {
  touch-action: manipulation;
  /* Optional: Disable text selection and user scaling */
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Additional styles to ensure no zoom on double-click */
/* Removed overflow: hidden to allow scrolling */
body.modal-open {
    /* Ensure no overflow restriction */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
